#vid1 {
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}
.content {
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.26);  
    backdrop-filter: blur(8px);
    text-align: center;
    position: absolute;
    top: 17px; 
    color: #f1f1f1;
    width: auto;
    padding: 20px;
    left: 460px;
  }
  